body {
    background-color: aqua;
    border: 10px solid black;
    height: 300px;
    width: 300px;
    display: block;
}
.dot {
    height: 30px;
    width: 30px;
border: 1px solid black;
border-radius: 15px;
margin: 2px;
}
#left {
    background-color: black;
    border: 2px solid white;
    position: relative;
    left: 20px;
    top: 20px;
}
#right{
background-color: red;
border: 2px solid white;
    position: relative;
    left: 190px;
    top: 1px;
    bottom: 20px;
}